<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
    <% include menu1.ejs %>
    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">


                  <h3>
                  Address Details
                </h3>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <div class="thumbnail thumbnail-credit-card">

                <div class="row">

                  <div class="col-md-12">

                    <div class="form-group">
                      <label for="address">
                        Address
                      </label>
                      <textarea class="form-control textbox-address"  placeholder="Address" ng-model=""  value=""></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="city">
                        City
                      </label>
                      <input type="text" class="form-control" placeholder="City" ng-model=""  value=""/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="state">
                        State
                      </label>
                      <input type="text" class="form-control" placeholder="State" ng-model=""  value=""/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="zip">
                        Zip
                      </label>


                      <input type="text" class="form-control" placeholder="Zip" ng-model=""  value=""/>

                    </div>
                  </div>
                </div>

                </div>
                </div>


          
 

                
 
                  <div class="col-md-3"></div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-block" ng-click="submit();">Update Address Details</button>

                  </div>
                  <div class="col-md-2"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>

         </div>
 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
