<!-- Carousel -->
<div class="col-xs-12" style="margin-top: 15px">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 640px; box-shadow: 1px 1px 3px rgba(242, 240, 231, 0.9)">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="/search?id=1"><img src="img/carousel-1.jpg"></a>
      </div>

      <div class="item">
       <a href="/search?id=1"> <img src="img/carousel-2.jpg"></a>
      </div>
    
      <div class="item">
        <a href="/search?id=1"><img src="img/carousel-3.jpg"></a>
      </div>

      <div class="item">
       <a href="/search?id=1"> <img src="img/carousel-4.jpg"></a>
      </div>

      <div class="item">
        <a href="/search?id=1"><img src="img/carousel-5.jpg"></a>
      </div>
    </div>
  </div>
</div>