<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
    <% include menu1.ejs %>
    <div style="height: 30px; display: block;"></div>
    <div class="cat-list">
    <h4 style="font-weight: bolder;"><br><br><br>

                  Join the AmazonFresh team!
                </h4>
                <h5>AmazonFresh has open positions in many different job families across technology and retail.</h5>
                  
                    <span><h6>We need people who are passionate about customer experience, have a strong bias for action, and love being owners. With customers ordering multiple times a week, your work will directly improve people's daily lives. And our extremely low overhead means that you can turn your ideas into reality in days, not months. <a href="https://www.amazon.jobs/" style="text-decoration: underline;"> Learn more </a> about working at Amazon.com.</h6></span><hr>

                    <h4 style="color: green; font-weight: bold;">
                  Software Development
                </h4>
                <h6>On the development team, we're crafting software to better forecast how many loaves of bread to buy, revamping our user experience to make grocery shopping increasingly convenient, and iterating on algorithms to route trucks to homes as efficiently and environmentally consciously as possible -- all while pushing code daily. We're looking for developers with strong technical backgrounds to join our team. Learn more about specific opportunities by following the link below:</h6>
                <h5>
                <ul>
                  <li style="color: green;"><a href="https://www.amazon.jobs/" style="text-decoration: underline;">Software Development Positions</a></li>
                </ul></h5>


                <h4 style="color: green;
                font-weight: bold;">

                  Product/Program Management
                </h4>
                <h6>Our Product and Program Managers define and deliver some of the most exciting projects in all of Amazon. With end-to-end ownership, immediate customer feedback and the ability to develop a unique customer experience, PMs at AmazonFresh get to truly impact the lives of our valued customers. Learn more about specific opportunities by following the link below:</h6>
                <h5>
                <ul style="color: green ; text-decoration: underline;">
                  <li><a href="https://www.amazon.jobs/">Product Management Positions</a></li>
                   <li><a href="https://www.amazon.jobs/">Technical Program Management Positions</a></li>
                </ul></h5>



                <h4 style="color: green;
                font-weight: bold;">

                  Retail
                </h4>
                <h6>Our retail positions span everything from Vendor and In-Stock Management to Site Merchandising and UI/UX Design. Learn more about specific opportunities below:</h6>
                <h5>
                <ul style="color: green ; text-decoration: underline;">
                  <li><a href="https://www.amazon.jobs/">Account Management Positions</a></li>
                   <li><a href="https://www.amazon.jobs/">Vendor Management and Buying Positions</a></li>
                </ul></h5><br><br>


                <a href="https://www.amazon.jobs/" style="text-decoration: underline; color: green;">View all open Positions</a>
                  <h5><i>All positions are located in Seattle, WA unless otherwise stated.</i></h5>

                    </div>

    <% include footer1.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
