<div class="col-xs-12">
	<div class="cart-body">
		<div class="cart-head">
			<span>
				Deliver to <b>Aashay Shah-SAN JOSE</b>
			</span><br>
			<span>
				<a href="#" style="text-decoration: underline;">(change delivery address)</a>
			</span>
		</div>
		<div>
			<a href="#">
				<div class="checkout-btn">Proceed to Checkout</div>
			</a>
		</div>
		<div class="cart-total">
			<div class="pull-left">
				<span style="color: #669900;">
					Subtotal $55.90
				</span>
			</div>
			<div class="pull-right">
				<span>
					(10 Items)
				</span>
			</div>
		</div>
		<div class="cart-items">
			<ul class="no-padding no-margin">
				<% for(var i=0; i<4; i++){ %>
				<li>
					<div class="changeQuantity">
						<div class="quantity">4</div>
						<div class="buttons">
							<div class="plusButton">
								<span class="glyphicon glyphicon-plus" style="padding-top: 4px"></span>
							</div>
							<div class="minusButton">
								<span class="glyphicon glyphicon-minus" style="padding-top: 4px"></span>
							</div>
						</div>
					</div>
					<div class="cart-product-image">
						<img src="img/tomato.jpg" height="100%" width="100%">
					</div>
					<div class="cart-detailsBox pull-left">
						<div class="itemTitle capitalize">
							<a href="">Organic Greenhouse Red On-The-Vine Tomatoes ssdsd sdvds</a>
						</div>
						<div class="priceBox">
							$19.96
						</div>
					</div>
					<div class="cart-remove pull-right">
						<div class="glyphicon glyphicon-remove-sign"></div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>