<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
 <script src="/angularjs/angular.min.js"></script>
<script src="/angularjs/angular-route.min.js.map"></script>

    <script>
      angular.module('getAddressModule', [])
      .controller('getAddressController',function($scope, $http) {
        $scope.getAddress = function(){
          $http({
            method: "GET",
            url: '/user/address'
          }).success(function(res){
            if(res.status == 200){
              console.log(res.data);
              $scope.user = res.data;
              $scope.state = res.data[0].state;
              $scope.address = res.data[0].address;
              $scope.city = res.data[0].city;
              $scope.zipcode = res.data[0].zipcode;
              $scope.card_number = res.data[0].card_number;
              $scope.name_on_card = res.data[0].name_on_card;
            }
          });
        }
    });
    </script>


  </head>
  <body ng-app="getAddressModule" ng-controller="getAddressController" ng-init="getAddress();">
    <% include menu1.ejs %>
    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">
        
        <% include search.ejs %>
</div>
                <div class="cat-list" >
              <form role="form">
              <br>
              <h4>Your Account!</h4><br>
                <h5 style="color: green;">
                  Account Settings
                </h5>
                  
                    <span><h5>You are Logged in as: <span style="font-weight: bold;"><%= user.email %></span> </h5></span>

                  
              
              
                <hr>

                <h5 style="color: green;">
                  Payment Options
                </h5>
                <h5 style="color:green;">Card Number: <span style="color:black; font-weight: bold;">{{card_number}}</span> | Name On Card <span style="color:black; font-weight: bold;">{{name_on_card}}</span></h5>

                <span><h5>You can Edit your Payment options under: <a style="text-decoration: underline;" href="/paymentOptions">Manage Your Payment Options</a> </h5></span>


                <hr>

                <h5 style="color: green;">
                  Primary Delivery Address
                </h5>
                <span><h4>{{address}} , {{city}}</h4><h4>{{state}} , {{zipcode}}</h4><h5>Update Your Address from Here :   <a style="text-decoration: underline;" href="/addressDetails">Update</a> </h5></span>

<hr>

                <h5 style="color: green;">
                  Your Orders
                </h5>
                <span><h5>To see your Order History :    <a style="text-decoration: underline;" href="/myOrders">Click Here</a> </h5></span>


                <hr>

                <h5 style="color: green;">
                  My Reviews
                </h5>
                <span><h5>Check all of my Reviews :    <a style="text-decoration: underline;" href="/myReviews">Here</a> </h5></span>

                <hr>

 </form>
 </div>
 </div>
 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
