<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Farmers | Data Tables</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.5 -->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- DataTables -->
		<link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
		<!-- Theme style -->
		<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
		<!-- AdminLTE Skins. Choose a skin from the css/skins
				 folder instead of downloading all of them to reduce the load. -->
		<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
		<script src="/angularjs/angular.min.js"></script>

		<link href="/dist/css/xeditable.css" rel="stylesheet">
		<script src="/dist/js/xeditable.js"></script>
		<script src="/angularjs/adminModule.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="hold-transition skin-blue sidebar-mini" ng-app="adminModule" ng-controller="adminController">
		<div class="wrapper">
			<header class="main-header">
				<% include ./partials/admin-header %>
			</header>

			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- Sidebar user panel -->
					<div class="user-panel">
						<div class="pull-left image">
							<img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
						</div>
						<div class="pull-left info">
							<p><%= fname %> <%= lname %></p>
							<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						</div>
					</div>
					<!-- search form -->
					<form action="#" method="get" class="sidebar-form">
						<div class="input-group">
							<input type="text" name="q" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
					<!-- /.search form -->
					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu">
						<li class="header">MAIN NAVIGATION</li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li><a href="/admin/home"><i class="fa fa-circle-o"></i> Dashboard</a></li>
								<li><a href="/admin/home"><i class="fa fa-circle-o"></i> Statistics</a></li>
							</ul>
						</li>
						<li class="active treeview">
							<a href="#">
								<i class="fa fa-table"></i> <span>Tables</span>
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<li class="active"><a href="/admin/farmers/list"><i class="fa fa-circle-o"></i> Farmers List</a></li>
								<li><a href="/admin/products/list"><i class="fa fa-circle-o"></i> Products List</a></li>
								<li><a href="/admin/trucks/list"><i class="fa fa-circle-o"></i> Trucks List</a></li>
								<li><a href="/admin/drivers/list"><i class="fa fa-circle-o"></i> Drivers List</a></li>
								<li><a href="/admin/customers/list"><i class="fa fa-circle-o"></i> Customers List</a></li>
								<li><a href="/admin/orders/list"><i class="fa fa-circle-o"></i> Orders List</a></li>
							</ul>
						</li>
					</ul>
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div ng-app="adminModule" ng-controller="adminController" ng-init="getfarmers();" class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Farmers Data Tables
						<small>All data</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href="#">Tables</a></li>
						<li class="active">Farmers table</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content" style="overflow: scroll;">
					<div class="row">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title">Farmer Data Table</h3>
								</div><!-- /.box-header -->
								<div class="box-body">
									<table id="example1" class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Farmer Id</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th>Address</th>
												<th>City</th>
												<th>State</th>
												<th>Zipcode</th>
												<th>Intro</th>
												<th>Video</th>
												<th>Tax</th>
												<th>Contact No</th>
												<th>Approve/Reject</th>
												<th>Joined At</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="farmer in farmers">
												<td>
													{{farmer.f_id}}
												</td>
												<td>
													<span editable-text="farmer.fname" e-name="fname" e-form="farmerform" e-required>
														 {{ farmer.fname || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.lname" e-name="lname" e-form="farmerform">
														 {{ farmer.lname || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.email" e-name="email" e-form="farmerform" onbeforesave="checkEmail($data)" e-required>
														 {{ farmer.email || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.address" e-name="address" e-form="farmerform" e-required>
														 {{ farmer.address || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.city" e-name="city" e-form="farmerform" e-required>
														 {{ farmer.city || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.state" e-name="state" e-form="farmerform" e-required>
														 {{ farmer.state || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.zipcode" e-name="zipcode" e-form="farmerform" e-required>
														 {{ farmer.zipcode || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.intro" e-name="intro" e-form="farmerform" e-required>
														 {{ farmer.intro || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.video" e-name="video" e-form="farmerform">
														 {{ farmer.video || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.tax" e-name="tax" e-form="farmerform" e-required>
														 {{ farmer.tax || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-text="farmer.contacts" e-name="contacts" e-form="farmerform" e-required>
														 {{ farmer.contacts || 'empty' }}
													</span>
												</td>
												<td>
													<span editable-select="farmer.isActive" e-name="isActive" e-form="farmerform" e-ng-options="s.value as s.text for s in statuses" e-required>
          												{{ showStatus(farmer) }}
													</span>
												</td>
												
												<td>{{farmer.createdAt | date: 'medium'}}</td>
												<td>
											  	<form editable-form name="farmerform" ng-show="farmerform.$visible" class="form-buttons form-inline"
													shown="inserted == farmer" onbeforesave="saveFarmer($data,farmer.f_id)">
												<button type="submit" ng-disabled="farmerform.$waiting" class="btn btn-primary editable-table-button btn-xs">
												  Save
												</button>
												<button type="button" ng-disabled="farmerform.$waiting" ng-click="farmerform.$cancel()" class="btn btn-default editable-table-button btn-xs">
												  Cancel
												</button>
											  </form>
											  <div class="buttons" ng-show="!farmerform.$visible">
												<button class="btn btn-primary editable-table-button btn-xs" ng-click="farmerform.$show()">Edit</button>
												<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeFarmer(farmer.f_id)">Delete</button>
											  </div>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>Farmer Id</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th>Address</th>
												<th>City</th>
												<th>State</th>
												<th>Zipcode</th>
												<th>Intro</th>
												<th>Video</th>
												<th>Tax</th>
												<th>Contact No</th>
												<th>Joined At</th>
											</tr>
										</tfoot>
									</table>
									</br>
									<button class="btn btn-default" id = "addfarmer" data-toggle = "modal" data-target = "#addFarmerModal">Add Product</button>
								</div><!-- /.box-body -->
							</div><!-- /.box -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</section><!-- /.content -->

				<!-- Add Product Modal -->
					<div id="addFarmerModal" class= "modal fade" role = "dialog">
						<div class= "modal-dialog modal-md">
							<!-- Add Product Modal Content -->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="moda-title">Add Farmer</h3>
								</div>
								<div class="modal-body">
										<div class="form-group">
											<label for="fname">First Name</label>
											<input type="text" class="form-control" placeholder="Enter First Name" ng-model="fname" required>
											<!-- Product Name Validation Here-->
											<!-- -->
										</div>
										<div class="form-group">
											<label for="lname">Last Name</label>
											<input type="text" class="form-control" placeholder="Enter Last Name" ng-model="lname" required>
										</div>
										<div class="form-group">
											<label for="email">Email</label>
											<input type="text" class="form-control" placeholder="Enter Email" ng-model="email" required>
										</div>
										<div class="form-group">
											<label for="pass">Password</label>
											<input type="password" class="form-control" placeholder="Enter Password" ng-model="pass" required>
										</div>
										<div class="form-group">
											<label for="intro">Introduction</label>
											<input type="text" class="form-control" placeholder="Enter Introduction" ng-model="intro" required>
										</div>
										<div class="form-group">
											<label for="contact_no">Contact No</label>
											<input type="text" class="form-control" placeholder="Enter Contact No" ng-model="contact_no" required>
										</div>
										<div class="form-group">
											<label for="video">Youtube Video Link</label>
											<input type="text" class="form-control" placeholder="Enter Youtube Video Link" ng-model="video" required>
										</div>
										<div class="form-group">
											<label for="tax">Tax</label>
											<input type="Number" class="form-control" placeholder="Enter Tax" ng-model="tax" required>
										</div>
										<div class="form-group">
											<label for="address">Address</label>
											<input type="text" class="form-control" placeholder="Enter Address" ng-model="address" required>
										</div>

										<div class="form-group">
											<label for="city">City</label>
											<input type="text" class="form-control" placeholder="Enter City" ng-model="city" required>
										</div>
										<div class="form-group">
											<label for="state">State</label>
											<input type="text" class="form-control" placeholder="Enter State" ng-model="state" required>
										</div>
										<div class="form-group">
											<label for="zipcode">Zipcode</label>
											<input type="Number" class="form-control" placeholder="Enter Zipcode" ng-model="zipcode" required>
										</div>
										<button class="btn btn-default" ng-click="addFarmer();">Add Farmer</button>
							</div>
							<!-- Content End for Modal-->
						</div>
					</div>
				</div>
			</div>

			<footer class="main-footer">
				<% include ./partials/admin-footer %>
			</footer>
			<% include ./partials/admin-aside %>
			<!-- Add the sidebar's background. This div must be placed
					 immediately after the control sidebar -->
			<div class="control-sidebar-bg"></div>
		</div><!-- ./wrapper -->

		<!-- jQuery 2.1.4 -->
		<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<!-- Bootstrap 3.3.5 -->
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<!-- DataTables -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
		<!-- SlimScroll -->
		<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
		<!-- FastClick -->
		<script src="/plugins/fastclick/fastclick.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/app.min.js"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="/dist/js/demo.js"></script>
		<!-- page script -->
		<script>
			$(function () {
//        $("#example1").DataTable();
/*        $('#example2').DataTable({
					"paging": true,
					"lengthChange": false,
					"searching": false,
					"ordering": true,
					"info": true,
					"autoWidth": false
				});
*/      });
		</script>
	</body>
</html>
