<div class="container-fluid" id="footer-wrapper">
	<div class="col-xs-12">
		<ul>
			<li>
				<a href="/help">Help</a>
			</li>
			<li>
				<a href="">Request a Product</a>
			</li>
			<li>
				<a href="/conditions">Conditions of User</a>
			</li>
			<li>
				<a href="/privacy">Privacy Notice</a>
			</li>
		</ul>
		<ul>
			<li>
				About
			</li>
			<li>
				Carrers
			</li>
		</ul>
		<div style="color: #fff; margin-top: 125px;">
			© 2007-2016 AmazonFresh, LLC or its affiliates  All items sold by and ship from AmazonFresh unless otherwise specified.
		</div>
	</div>
</div>