<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
  	<% include menu.ejs %>
    <div style="height: 50px; display: block;"></div>

    
  	
    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>