<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
    <% include menu1.ejs %>
    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">
        <div class="col-md-1">
        <h6><br><br><br><br><br><a href="#">Help</a></h6>
        <h6><a href="#">Carrers</a></h6>
        <h6><a href="/conditions">Conditions of Use</a></h6>
        <h6><a href="/privacy">Privacy Notice</a></h6>
        <hr>


                      <button style="align-self:   right;" type="button" class="contact-us" >Contact Us</button>

                  
        </div>
      
                <div class="col-md-5" >
              <form role="form">
                <h4 style="color: green;"><br><br><br>
                  What is AmazonFresh?
                </h4>
                  
                    <span><h6>AmazonFresh offers next-day and early morning delivery of a broad selection of items, including fresh grocery and neighborhood products.</h6></span><hr>

                  
              
              
                

                <h4 style="color: green;">
                  How do I sign up?
                </h4>
                <span><h6>To start your AmazonFresh experience, sign up in <a style="text-decoration: underline;" href="/addressDetails">Seattle</a>,<a style="text-decoration: underline;" href="/addressDetails"> Southern California</a>, <a style="text-decoration: underline;" href="/addressDetails">Northern California</a> or <a style="text-decoration: underline;" href="/addressDetails"> New York</a> </h6></span><hr>


                

                <h4 style="color: green;">
                  Do you deliver to my neighborhood?
                </h4>
                <span><h6>AmazonFresh currently services a number of large metropolitan areas. <a style="text-decoration: underline;" href="/addressDetails"> Check your address</a>to see if it is within our delivery area. We're branching out as fast as we can while being careful not to sacrifice the quality and convenience our customers expect from AmazonFresh. </h6></span><hr>



                <h4 style="color: green;">
                  How does delivery work?
                </h4>
                <span><h6>AmazonFresh offers two delivery options -- Doorstep Delivery or Attended Delivery.</h6></span><br>
                <span><h6>Doorstep Delivery</h6>
                <h6>Most customers use our Doorstep Delivery option. With Doorstep Delivery, you choose a 3-hour time window that works best for your schedule — you don't even have to be home. We will leave your items on your doorstep in temperature-controlled tote bags and pick them up with your next delivery. To be eligible for Doorstep Delivery, your driver must have unrestricted access to your doorstep without having to call you.</h6></span>
                <span><h6>Attended Delivery</h6></span><span>
                <h6>With Attended Delivery, you select a 1-hour appointment when you will be home to receive the delivery. Some of the benefits of Attended Delivery are:</h6></span>
                <ul style="font-size: 12px;">
                  <li>Shorter 1-hour delivery windows</li>
                  <li>No totes or other shipping supplies to store in your home</li>
                  <li>Delivery to buildings with secure entry or limited access</li>
                </ul></span><br>
                <span><h6>At AmazonFresh, the quality of your food is our biggest concern. We carefully control the conditions in which your products are stored, right up until the moment you receive them, so that fresh items stay chilled and frozen items remain frozen. To keep all of your products at their proper temperatures, Doorstep Deliveries will be packed with frozen water bottles. The water is safe to consume, and the bottles are yours to keep, dispose of, or recycle. While we encourage you to retrieve your groceries as soon as possible once delivered, this packaging is designed to maintain the correct temperature of your products for up to 1 hour after the end of your delivery window.

</h6></span>



 </form>
</div>
<div class="col-md-3">
 </div>
 </div>
 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
