<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
  	<% include menu.ejs %>
    <div style="height: 50px; display: block;"></div>
    <div class="container-fluid">
      <div class="col-xs-9">
        <% include search.ejs %>

        <% include carousel.ejs %>

        <% include product.ejs %>

        <div class="col-xs-12 no-padding" style="margin-top: 15px;">
          <div class="tiles">
            <span class="subdue">Browse</span>
            <span>Categories</span>
          </div>
          <ul class="item-wrapper">
           <% for(var i=0; i<14; i++) { %>
            <li>
              <img src="img/fruit.jpg" class="item-img">
              <ul class="cat-list">
                <div class="cat-list-name">
                  <a href="#">FRESH FRUIT >></a>
                </div>
                <li>
                  <a href="#">Apples</a>
                </li>
                <li>
                  <a href="#">Banans</a>
                </li>
                <li>
                  <a href="#">Berries</a>
                </li>
                <li>
                  <a href="#">Citrus</a>
                </li>
                <li>
                  <a href="#">Packaged Fruit</a>
                </li>
                <li>
                  <a href="#">Organic Fruit</a>
                </li>
                <li>
                  <a href="#" class="shop-all">Shop All ></a>
                </li>
              </ul>
            </li>
           <% } %>
          </ul>



        </div>
      </div>
      <div class="col-xs-3">
        <!-- CART WILL BE HERE -->
      </div>
    </div>


    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
