<div class="container-fluid" id="menu-wrapper">
	<div class="row">
		<div class="col-xs-8">
			<ul id="ul-menu">
				<li>
					<a href="/"><img src="img/Amazon-logo.png" class="pull-left"></a>
				</li>
				<% if(typeof user != 'undefined') {%>
				<li>
					<div class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= user.fname %> <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-username">
							<li>
								<a href="#">Your Account</a>
							</li>
							<li>
								<a href="#">Manage Your Dash</a>
							</li>
							<li>
								<a href="/logout">Sign Out</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="separator">|</div>
					<a href="#">Your Deliveries</a>
				</li>
				<li>
					<div class="separator">|</div>
					<a href="#">Messages</a>
				</li>
				<li>
					<div class="separator">|</div>
					<a href="#">Your Lists</a>
				</li>
				<li>
					<div class="separator">|</div>
					<a href="#">Past Purchases</a>
				</li>
				<% }else{ %>
				<li>
					<span>
						Already an AmazonFresh customer?
						<a href="/login" style="text-decoration: underline;">Sign in</a>
					</span>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>