<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body>
    <% include menu1.ejs %>
    <div style="height: 50px; display: block;"></div>
        <div class="container-fluid">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <br />
          
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#home" class="nav-link active" role="tab" data-toggle="tab">Current Orders</a>
            </li>

            <li class="nav-item">
              <a href="#profile" class="nav-link" role="tab" data-toggle="tab">Canceled Orders</a>
            </li>

            <li class="nav-item">
              <a href="#about" class="nav-link" role="tab" data-toggle="tab">Past Orders</a>
            </li>

            
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">1</div>
            <div role="tabpanel" class="tab-pane fade" id="profile">2</div>
            <div role="tabpanel" class="tab-pane fade" id="about">3</div>
          </div>
          </div>  
      
 </div>
 

    <% include footer.ejs %>
    <% include js-lib.ejs %>
  </body>
</html>
