<!DOCTYPE html>
<html>
  <head>
    <title>Amazon-Fresh</title>
    <% include lib.ejs %>
  </head>
  <body ng-app="amazon" ng-controller="amazon">
    <% include menu.ejs %>
    <div style="height: 50px; display: block;"></div>
    <div class="container-fluid">
      <div class="col-xs-9">
        <% include search.ejs %>
        </div>
        </div>
        <div class="cat-list">
                          <div class="row row-margin">
            <div class="col-md-2">
                   <h3>Show Results by</h3>
                  <h4>All Amazon Fresh Items</h4>
                  <h5><a href="#">Grocery(30)</a></h5>
                  <h5><a href="#">Sports & Outdoor(40)</a></h5>
                  <h5><a href="#">Books(20)</a></h5>
                  <h5><a href="#">Patio, Lawn & Garden(80)</a></h5>
                  <h5><a href="#">Home & Kitchen(90)</a></h5>
                  <h5><a href="#">Pet Products(54)</a></h5>
                  <h5><a href="#">Tools & Home Improvement(12)</a></h5>
                  <h5><a href="#">Industrial & Scientific(43)</a></h5>
                  <h5><a href="#">Apparel & Accecories(9)</a></h5>
                  <h5><a href="#">Health & Personl Care(32)</a></h5>
                  <h5><a href="#">Office Products & Supplies(12)</a></h5>
                  <h5><a href="#">Beauty(24)</a></h5>
                  <h5><a href="#">Movies & TV(24)</a></h5>
                  <h5><a href="#">Toys & Games(24)</a></h5>
                  <h5><a href="#">Music(44)</a></h5>
                  <h5><a href="#">Electronics(24)</a></h5>
                  <h5><a href="#">Musical Instruments(24)</a></h5>
                  <h5><a href="#">Baby(24)</a></h5>
                  <h5><a href="#">Automative(24)</a></h5>
                  <h5><a href="#">Appliances(24)</a></h5><br><br>


                  <h4>Refine By</h4><br>
                  <h6>Brands</h6><br>
                  <input class="form-control" id="inputdefault" type="text">
                  <div class="btn-group" >
                

                <ul class="scrollable-menu" role="menu">
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Brand1</a></li>
                    <li><a href="#">Brand2</a></li>
                    <li><a href="#">Brand3</a></li>
                    <li><a href="#">Brand4</a></li>
                    <li><a href="#">Brand5</a></li>
                    
                </ul><br><br>

                            <h5>Speciality</h5>   
            <div class="checkbox" style="font-size: 17px;">
      <label><input type="checkbox" style="font-size: 17px;" value="">Organic </label>
      </div>

            </div>

</div>
</div>

            </div>
<!-- 
        Vansh Shah -->

        
    <% include footer.ejs %>
    
    <% include js-lib.ejs %>

  </body>

</html>
