<div class="col-xs-12">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search AmazonFresh">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div>