<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trucks | Data Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <script src="/angularjs/angular.min.js"></script>

    <link href="/dist/css/xeditable.css" rel="stylesheet">
    <script src="/dist/js/xeditable.js"></script>
    <script src="/angularjs/adminModule.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini" ng-app="adminModule" ng-controller="adminController">
    <div class="wrapper">
      <header class="main-header">
        <% include ./partials/admin-header %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><%= fname %> <%= lname %></p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/home"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                <li><a href="/admin/home"><i class="fa fa-circle-o"></i> Statistics</a></li>
              </ul>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/farmers/list"><i class="fa fa-circle-o"></i> Farmers List</a></li>
                <li><a href="/admin/products/list"><i class="fa fa-circle-o"></i> Products List</a></li>
                <li class="active"><a href="/admin/trucks/list"><i class="fa fa-circle-o"></i> Trucks List</a></li>
                <li><a href="/admin/drivers/list"><i class="fa fa-circle-o"></i> Drivers List</a></li>
                <li><a href="/admin/customers/list"><i class="fa fa-circle-o"></i> Customers List</a></li>
                <li><a href="/admin/orders/list"><i class="fa fa-circle-o"></i> Orders List</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Trucks Data Tables
            <small>All data</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Trucks table</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Trucks Data Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Truck ID</th>
                        <th>Truck Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Displaying Trucks Data -->
                      <tr ng-repeat = "truck in trucks">
                        <td>{{truck.t_id}}</td>
                        <td>
                          <span editable-text = "truck.number" e-name = "number" e-form = "truckform" e-required>
                            {{truck.number}}
                          </span>
                        </td>
                        <td>
                          <form editable-form name = "truckform" ng-show = "truckform.$visible" class = "form-buttons form-inline" shown = "inserted == truck" onbeforesave="saveTruck($data,truck.t_id)">
                            <button type="submit" ng-disabled="truckform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                              Save
                            </button>
                            <button type="button" ng-disabled="truckform.$waiting" ng-click="truckform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                              Cancel
                            </button>
                          </form>
                          <div class="buttons" ng-show="!truckform.$visible">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="truckform.$show()">Edit</button>
                            <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeTruck(truck.t_id)">Delete</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Truck ID</th>
                        <th>Truck Number</th>
                      </tr>
                    </tfoot>
                  </table>
                  </br>
                  <button class="btn btn-default" id = "addtruck" data-toggle = "modal" data-target = "#addTruckModal">Add Truck</button>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->


          <!-- Add Truck Modal -->
          <div id="addTruckModal" class= "modal fade" role = "dialog">
            <div class= "modal-dialog modal-md">
              <!-- Add Order Modal Content -->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="moda-title">Add Truck</h3>
                </div>
                <div class="modal-body">
                  <div role="form" name="addtruckform">
                    <div class="form-group">
                      <label for="number">Truck Number</label>
                      <input type="text" class="form-control" placeholder="Enter Truck Number" name="number" ng-model="number" ng-minlength="7" ng-maxlength="7" required>
                      <div role="alert">
                        <span class="error" ng-show="invalid_field">Invalid Truck Number!</span>
                      </div>
                      <div role="alert">
                        <span class="error" ng-show="truck_exist">Truck Exist!</span>
                      </div>
                      <div role="alert">
                        <span class="error" ng-show="unexpected_error">Unexpected Error Occurred!</span>
                      </div>
                      <!-- <label ng-show="invalid_field">Invalid Truck Number!</label> -->
                    </div>
                    <button class="btn btn-default" ng-click="addTruck();">Add Truck</button>
                  </div>
                </div>
                <!-- Content End for Modal-->
              </div>
            </div>
          </div>
          <!-- Add Truck Modal End -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <% include ./partials/admin-footer %>
      </footer>
      <% include ./partials/admin-aside %> 
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
      /*$(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });*/
    </script>
  </body>
</html>
